.console-output, .console-output pre {
    font-family: Monaco, "Ubuntu Mono", "DejaVu Sans Mono", Consolas, Menlo;
}

.console-output,
.console-output pre {
    font-size: 14px;
    background-color: #111;
    color: #eee;
    padding: 10px 10px 30px;
    border-radius: 3px;
}

/**
 * Set the link color in console output
 */
.console-output pre a,
.console-output pre a:visited {
    color: #ED4A6A;
}
